<template>
  <div class="new-todo">
    <h2 class="green--text">Add new todo</h2>
    <v-form ref="form">
      <v-text-field
        v-model="titleTodo"
        :counter="30"
        label="Todo title"
        required
        v-mod
      ></v-text-field>
      <p v-if="isError" class="red--text">Please input todo title</p>
    </v-form>
    <v-btn class="green white--text" @click.prevent="add">Add more</v-btn>
  </div>
</template>

<script>
export default {
  data () {
    return {
      titleTodo: "",
      isError: false
    }
  },
  methods: {
    add: function () {
      if (this.titleTodo == "") {
        this.isError = true;
        return;
      }

      this.isError = false;
      var todo = {
          title: this.titleTodo,
          id: this.$store.state.todos.data.length + 1,
        }
      this.$store.commit('todos/add', todo);
      this.titleTodo = "";
    }
  }
}
</script>

<style scroped>
  .new-product {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

</style>