<template>
  <div>
    <v-btn @click="updateFilter('all')" dark class="teal">All</v-btn>
    <v-btn @click="updateFilter('completed')" dark class="mx-5 red">Complete</v-btn>
    <v-btn @click="updateFilter('todo')" dark class="amber">To do</v-btn>
  </div>
</template>

<script>
export default {
  methods: {
    updateFilter: function(filter) {
      this.$emit('changeFilter', filter);
    }
  }
}
</script>