<template>
  <v-layout class="flex-wrap flex-column">
    <h1>Home page</h1>
    <nuxt-link to="/todo" class="mt-10">
      <v-btn dark class="red">Check your to do list</v-btn>
    </nuxt-link>
  </v-layout>
</template>

<script>
</script>

<style>
  a {
    text-decoration: none;
  }
  .title {
    margin: 50px 0;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
  }
</style>