<template>
  <div class="text-center" style="margin-top: 50px">
    <h1 class="text-center">Detail</h1>
    <h2 class="text-center">{{ todo.title }}</h2>
  </div>
</template>

<script>

export default {
  computed: {
    todo () {
      var todo = this.$store.state.todos.data.find(todo => todo.title == this.$route.params.id)
      return todo
    }
  },
}
</script>