<template>
  <v-app>
    <div class="flex-row flex-wrap">
      <h1 class="mb-5">Todo List</h1>
      <v-row>
        <v-col >
          <filterTodo v-on:changeFilter="updateFilter($event)"></filterTodo>
        </v-col>
        <v-col >
          <addTodo></addTodo>
        </v-col>
      </v-row>
      <v-row>
        <v-card
          class="mx-auto mt-2" 
          width="48%"
          justify="space-between"
          outlined
          v-for="todo in todos"
          :key="todo.id"
        >
          <v-container>
            <v-row no-gutters justify="space-between">
              <v-col>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title v-bind:class="[todo.completed ? 'is-completed' : '']">{{ todo.title | to-uppercase}}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
              <v-col cols="auto">
                <v-card-actions>
                  <v-btn icon @click="toggleTodo(todo.id)">
                    <v-icon v-bind:class="[todo.completed ? 'red--text' : '']">mdi-check</v-icon>
                  </v-btn>
                  <v-btn icon @click="deleteTodo(todo.id)" class="yellow--text"><v-icon>mdi-delete</v-icon></v-btn>
                </v-card-actions>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-row>
    </div>
  </v-app>
</template>

<script>
import addTodo from '~/components/addTodo.vue';
import filterTodo from '~/components/filterTodo.vue';

export default {
  components: {
    addTodo,
    filterTodo
  },
  data() {
    return {
      filter: 'All'
    }
  },
  methods: {
    updateFilter: function(filter) {
      this.filter = filter;
    },
    toggleTodo: function(id) {
      this.$store.commit('todos/toggle', id);
    },
    deleteTodo: function(id) {
      this.$store.commit('todos/delete', id);
    }
  },
  computed: {
    todos () {
      const todos = this.$store.state.todos.data;
      
      switch(this.filter) {
        case 'todo':
          return todos.filter(todo => !todo.completed);
        case 'completed':
          return todos.filter(todo => todo.completed);
        default:
          return todos;
      }
    }
  }
}
</script>

<style scoped>
.is-completed {
  text-decoration: line-through;
  color: #EF5350;
}
.is-active {
  color: #EF5350 !important;
}
</style>